{% extends 'base.html' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block body %}
    <div>
        <h1>{{ article.title }}</h1>
        <p>{{ article.text }}</p>
        Другое:
        <ul>
            <li><a href="{{ url_for('users.profile', pk=article.author.user.id) }}">Автор: {{ article.author.user.firstname }}</a></li>
            <li>Дата создания: {{ article.created_at }}</li>
            <li>Дата изменения: {{ article.updated_at }}</li>
        </ul>
    </div>
{% endblock %}